{{ $number := .Get 0 }}
{{ $height := .Get 1 }} 

<style>
    img {
        display: block;
        width: auto;
        max-width: 100%;
        padding: 5px;
    }

    .images {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto 0;
        padding: 5px;
    }
}
</style>

<div class="images">
    <div class="img">
        <img src="{{.Get 2}}" style="height: {{ $height }}px"/>
    </div>
    <div class="img-container">
        <img src="{{.Get 3}}" style="height: {{ $height }}px"/>
    </div>
    <div class="img-container">
        <img src="{{.Get 4}}" style="height: {{ $height }}px" />
    </div>
    <div class="img-container">
        <img src="{{.Get 5}}" style="height: {{ $height }}px" />
    </div>
</div>